<%= button_to "Add To Profile", :class => "btn btn-secondary", :action => "create_from_existing", :id => $modal_hike["id"] %>

<!--
 <button type="button" class="btn btn-primary" data-dismiss="modal">Add to Future Hikes</button>
 -->


