<%= button_to "Add To Accomplished Hikes", :class => "btn btn-secondary", :action => "show", :id => @user.id %>

<button type="button" class="btn btn-primary" data-dismiss="modal">Add to Future Hikes</button>


