 <div class="row flex-center pt-3 mt-3"> 
  <% if @user.name.last == "s" || @user.name.last == "S" %>
        <h1 class="hike-index-heading"><%= @user.name %>' Profile</h1>
  <% else %>
      <h1 class="hike-index-heading"><%= @user.name %>'s Profile</h1>
  <% end %>
<div class="container ">
   <hr class="hr-light mb-3 mt-4">
  <h2 class="profile-h2">My Favorite Hikes:</h2>
    <% if @hikes.length == 0 %>
    <br><h3>No hikes completed yet. <i class="far fa-frown"></i></h3>
    <% end %>
    <% @hikes.in_groups_of(2, false).each do |group| %>
         <div class="row">
            <% group.each do |h| %>
                <div class="col-md-6">
                  <div class="profile-card">
                    <img class="card-img-top" src="<%= h.photo %>" alt="Card image cap">
                      <div class="card-body">
                      <h5 class="card-title"><%= link_to h.name, hike_path(h.id) %></h5>
                      </div>
                  </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>

 

 
 


