<h1><%= @user.name %>'s Profile</h1>
<div class="container">
<h2>Future Hikes:</h2>
<%= @hike.name %>
<h2>Hikes Accomplished:</h2>
  <div class="card-deck">
    <% @hikes.each do |h| %>
      <div class="card user-profile-card">
        <img class="card-img-top" src="<%= h.photo %>" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><%= link_to h.name, hike_path(h.id) %></h5>
            <p class="card-text"><small class="text-muted">Completed date</small></p>
        </div>
      </div>
    <% end %>
  </div>



