@import "bootstrap";

body, html {
    height: 100%;
    background-color: #b6caca;
    z-index: 1;
}

.container {
    padding-bottom: 5%;
}

.hike-index-heading {
    margin: 0 auto;
    text-align: center;
}

.h2-home {
    font-size: 16px;
}

.bg { 
    background-image: image_url("background.png");
    height: 45%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.browse-link {
    font-size: 15px;
}

a:link, a:visited {
    text-decoration: none;
    color: gray;
}

a:hover, a:active {
    text-decoration: none;
    color: whitesmoke;
}

.modal-button {
    margin: 10px;
}

input {
    text-decoration: none;
}

.browse-hikes-image {
    width: 100%;
}

.user-profile-card {
    min-width: 250px;
}

.fixed-top {
    z-index: 2;
}


.alert-warning {
    z-index: 3;
} 

.navbar-brand {
    font-size: 22px !important;
}

.navbar-light li {
    color: lightsteelblue;
    list-style-type: none;
}

.nav-link {
    color: lightsteelblue;
    font-size: 20px !important;
}

.nav-link:hover {
    color: white;
}

.top-nav-collapse {
    background-color: #b6caca !important; 
}
.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #b6caca !important;
    } 
}
.hm-gradient .full-bg-img {
    background: -webkit-linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(29, 236, 197, 0.4)), to(rgba(96, 0, 136, 0.4)));
    background: linear-gradient(to 45deg, rgba(29, 236, 197, 0.4), rgba(96, 0, 136, 0.4) 100%); 
} 

@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 1040px; 
    } 
}   

.card {
    width: 80%;
    height: 27rem;
    margin: 10px auto;
    padding: 20px;
    background-color: rgba(229, 228, 255, 0.2);
}

.md-form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
}
.md-form label {
    color: #ffffff;
}
h6 {
    line-height: 1.7;
}

iframe {
   border-radius: 10px;
}

.col-md {  
  margin: 20px;
}

.hike-details-div {
  padding: 10px;
  margin: 15px auto;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
     
.log-in {
    margin: 1px 10px;
}

