<h1>Review Hike</h1>

<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Rating</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1 - Do not recommend</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5 - Great hike </option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Your review here</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
